body {
  background-color: black;
  margin:0;
  padding:0;
  box-sizing: border-box;
}

h2 {
font-style: oblique;
}

nav {
  margin-bottom:20px;
  padding: 0 20px;
   display:flex;
   justify-content: space-between;
   align-items: center;
   min-height:8vh;
   background-color:black;
   border-bottom: 0.5px solid white
}

.logo {
  color:white;
  text-transform: uppercase;
  letter-spacing:5px;
}

.nav-links {
  display:flex;
 justify-content: space-around;
  width:60%;
}

@media screen and (max-width:1150px) {
  .nav-links {
        width:74%;
  }       
}

.nav-links a {
  color:white;
   text-decoration: none;
   text-transform: uppercase;
}

.nav-links li {
  list-style: none;
  color:white;
  text-transform: uppercase;
  cursor:pointer;
  letter-spacing: 1px;
  font-style: oblique;
}


.burger {
  display:none;
  cursor:pointer;
}

.burger div{
  width:25px;
  height:3px;
  background-color:white;
  margin:5px;
}


@media screen and (max-width:850px) {
  body {
      overflow-x:hidden;
  }

  .nav-links {
      margin-top: 0;
        position:absolute;
        right:0px;
        height: 92vh;
        top:8vh;
        background-color:black;
        display:flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        visibility:hidden;
  } 

  .burger {
      display:block;
      
  }
  .nav-active {
    visibility: visible
  }

}

.toggle .line1{
transform:rotate(-45deg) translate(-5px,6px)
}
.toggle .line2{
opacity:0;
}
.toggle .line3{
transform:rotate(45deg) translate(-5px,-6px)
}

img {
  height:18.55px;

}

#game {
  
    margin:auto;
    border:1px solid rgb(0, 0, 0);
    padding-bottom:5px;
    background:black;
    border-bottom:none;
    border-top:none;
}    

.boardRow {
  text-align:center;
  height:9vh;

}

.pieceContainer {
  height:9vh;
  display:inline-block;
  width:9vh;
  padding:4px;
}


@media screen and (max-width:750px) {
  .pieceContainer {
        height: 8vh;
        width: 8vh;
        padding:1px;
  }   
  .boardRow {
    text-align:center;
    height:9vh;
  }
}

@media screen and (max-width:623px) {
  .pieceContainer {
        height: 7vh;
        width: 7vh;
        padding:1px;
     
  }   
  
  .boardRow {
    text-align:center;
    height:8vh;
  }

  nav {
    margin-bottom:60px;
  }
}

@media screen and (max-width:540px) {
  .pieceContainer {
        height: 5vh;
        width: 5vh;
        padding:1px;
  }   
  
  .boardRow {
    text-align:center;
    height:6vh;
  }

  nav {
    margin-bottom:80px;
  }
}


@media screen and (max-width:400px) {
  .pieceContainer {
        height: 4.6vh;
        width: 4.6vh;
        padding:1px;
  } 
  
  
  .boardRow {
    text-align:center;
    height:5vh;

  }

  nav {
    margin-bottom:90px;
    
  }
}


@media screen and (max-width:370px) {
  .boardRow {
    text-align:center;
    width:370px;

  }
}

.piece {
  width: 82%;
  height: 82%;
  border-radius: 50%;
  margin: auto;

}

.occupiedPosition {
    /* background: radial-gradient(circle at 80% 80%, rgb(0, 0, 59), rgb(0, 21, 255)); */
    background: radial-gradient(circle at 80% 80%, rgb(16, 16, 58), rgb(39, 57, 255));
}

.youLostPosition {
    background: radial-gradient(circle at 80% 80%, rgb(59, 0, 0), rgb(255, 0, 0));
}
  
.emptyPiece {
    background: radial-gradient(circle at 80% 80%, #303535, #cedfdf)
}   
  
.occupiedPosition.selected {
    box-shadow: 0px 0px 2px 3px rgb(247, 0, 255);
}
  
.validJump {
    background: radial-gradient(circle at 80% 80%, #094d00, #1eff00)
}

#typeGame {
    font-size:1rem;
    font-style: italic;
    padding-right:15px;
    padding-bottom:3px;

}

.hide {
    visibility: hidden;
}

.info {
  background-color: black;
}

#reset {
  padding-left: 60%;
  font-size:1.1rem;
  font-style: italic;
  margin: 2rem;
  letter-spacing: 0.2rem;
  color:white;
  cursor:pointer;
 
}